.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(170, 170, 170);
}

.homePageContent {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#macroCalculatorCard {
  ;
}

.navbar-brand {
  max-width: 20rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #D96C0D;
  margin-bottom: 2rem;
}

.site-footer {
  background-color: #D96C0D;
  padding: 0px;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) opacity(0.5) blur(5px);
}

.jumbotron {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  border-radius: 0.3rem;
  opacity: .9;
}

.jumbotron h1 {
  font-size: 3rem;
}

.jumbotron p {
  font-size: 1.5rem;
}

.border-top {
  border-color: black !important;
}

.icon-link {
  color: black;
}

.icon-link:hover,
.icon-link:focus {
  color: blue;
  text-decoration: none;
}